.btn {
  color: var(--dark-color);
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

.btn-advertisement {
  padding: 14px 20px;
  border-radius: 33px;
  background-color: var(--light-color);
}

.btn-outline {
  padding: 14px 30px;
  border-radius: 33px;
  background-color: var(--light-color);
  border: 1px solid var(--btn-border-color);
}

.btn-primary {
  background-color: var(--primary-color);
  padding: 14px 50px;
  border-radius: 56px;
}

@media (max-width: 736px) {
  .btn-sm {
    font-size: 10px;
    line-height: 15px;
  }

  .btn-sm-advertisement {
    padding: 4px 10px;
  }

  .btn-sm-outline {
    padding: 0 4px 0 0;
    border: none;
  }

  .btn-sm-primary {
    font-size: 13px;
    padding: 6px 22px;
  }
}
