.footer {
  background-color: var(--primary-color);
  padding-top: 46px;
}

.footer .primary-footer {
  margin-bottom: 30px;
}

.primary-footer .shop-info {
  padding-right: 170px;
}

.primary-footer .shop-info .shop-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--light-color);
  margin-top: 24px;
}

.primary-footer .shop-info .social-list {
  list-style: none;
  display: flex;
  margin-top: 56px;
}

.primary-footer .reference-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.primary-footer .reference-list .reference-item .reference-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--light-color);
}

.primary-footer .reference-sub-list {
  margin-top: 19px;
  margin-right: 87px;
}

.primary-footer .reference-sub-list .reference-sub-item {
  list-style: none;
  margin-bottom: 19px;
}

.primary-footer .reference-sub-list .reference-sub-item .reference-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--light-color);
  text-decoration: none;
}

.footer .secondary-footer {
  border-top: 1px solid var(--light-color);
}

.footer .secondary-footer .copy-right {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--light-color);
  padding: 24px 0;
}
