.header {
  width: 100%;
  height: 100px;
  /* background-color: transparent; */
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.02);
  position: fixed;
  z-index: 10;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 48px;
  margin-top: 48px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  padding: 0 48px;
}

.nav-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.header-action-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0 -12px;
}

.header-action-item {
  padding: 0 12px;
}
