.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  padding: 0 10px;
}

.col.col-3 {
  width: 25%;
}

.col.col-6 {
  width: 50%;
}

@media (max-width: 736px) {
  .row {
    margin: 0 -4px !important;
  }
  .col {
    padding: 0 4px !important;
  }
  .col.col-sm-6 {
    width: 50% !important;
  }
  .col.col-sm-12 {
    width: 100% !important;
  }
}
