.site-main {
  width: 100%;
}

.section-banner {
  background-image: url("../images/banner.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  position: relative;
}

.highlight {
  color: var(--primary-color);
}

.banner {
  position: absolute;
  top: 222px;
  left: 240px;
}

.banner-title {
  font-size: 72px;
  font-weight: 700;
  line-height: 73px;
  color: var(--light-color);
}

.banner-link-wrapper {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.link-icon .ic {
  width: 17px;
  height: 14px;
}

.shop-link {
  text-decoration: underline;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: var(--light-color);
  margin-left: 21px;
}

.service-list {
  width: 1100px;
  height: 125px;
  position: absolute;
  bottom: 0;
  border-top-right-radius: 70px;
  display: flex;
  list-style: none;
  align-items: center;
  background-color: var(--light-color);
  padding-left: 240px;
  padding-right: 88px;
}

.service-item:nth-child(2) {
  margin: 48px;
}

.service {
  display: flex;
}

.service-icon-bg {
  width: 36px;
  height: 36px;
  background-color: var(--service-icon-bg-color);
  border-radius: 12px;
  margin-right: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--dark-color);
  margin-bottom: 4px;
}

.service-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--text-color);
}

.section-advertisement {
  margin-top: 48px;
}

.advertisement-list {
  list-style: none;
  display: grid;
  grid-template-columns: 566px 273px 273px;
  grid-template-rows: 359px;
  column-gap: 20px;
}

.advertisement-item:first-child {
  background: url('../images/advertisement-1.png') top center / cover no-repeat;
}

.advertisement-item:nth-child(2) {
  background: url('../images/advertisement-2.png') top center / cover no-repeat;
}

.advertisement-item:last-child {
  background: url('../images/advertisement-3.png') top center / cover no-repeat;
}

.advertisement {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.advertisement-info {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: var(--light-color);
  position: absolute;
  top: 167px;
}

.btn {
  color: var(--dark-color);
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  background-color: var(--light-color);
}

.btn-advertisement {
  position: absolute;
  top: 258px;
  left: 40px;
  padding: 14px 18px;
  border-radius: 33px;
}

.discount {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  background-color: var(--discount-bg-color);
  padding: 6px 10px;
  border-radius: 20px;
  color: var(--light-color);
}

.section-products {
  margin-top: 96px;
}

.section-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
}

.btn-show-more {
  padding: 14px 30px;
  border-radius: 33px;
  border: 1px solid var(--btn-border-color);
}

.product-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(273px, 1fr));
  column-gap: 20px;
  list-style: none;
}

.product-item {
  position: relative;
}

.product-item .discount {
  position: absolute;
  z-index: 2;
  left: 18px;
  top: 24px;
}

.product-link {
  text-decoration: none;
}

.product-image {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.product-description {
  margin-top: 16px;
  text-decoration: none;
}

.product-name {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: var(--dark-color);
}

.product-prices {
  display: flex;
  justify-content: space-between;
}

.sale-price {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.sale-price.active {
  color: var(--sale-price-color) !important;
}

.original-price {
  color: var(--original-price-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.section-services {
  margin-top: 48px;
  background-color: var(--gray-bg-color);
  padding-top: 48px;
  padding-bottom: 57px;
}

.section-title {
  text-align: center;
}

.service-detail-list {
  margin-top: 50px;
  display: flex;
  gap: 49px;
  list-style: none;
}

.service-detail-icon {
  width: 68px;
  height: 68px;
  background-color: var(--light-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-detail-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--title-color);
  margin-top: 46px;
}

.service-detail-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-color);
  margin-top: 16px;
}

.section-newsletter {
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), url('../images/newsletter.png') top center / cover no-repeat;
  height: 241px;
  display: flex;
  align-items: center;
  margin-top: 48px;
}

.newsletter {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

.newsletter-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: var(--light-color);
}

.newsletter-input {
  width: 351px;
  height: 48px;
  padding: 14px 24px;
  border-radius: 61px;
  margin-right: 40px;
}

.newsletter-input::placeholder {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-color);
}

.btn-newsletter {
  background-color: var(--primary-color);
  width: 175px;
  height: 47px;
  border-radius: 56px;
  cursor: pointer;
}
