.section-banner {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/banner.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  position: relative;
}

.highlight {
  color: var(--primary-color);
}

.section-banner .banner {
  position: absolute;
  top: 222px;
  padding-left: calc((100% - 1152px)/2 + 96px);
}

.banner .banner-title {
  font-size: 72px;
  font-weight: 700;
  line-height: 73px;
  color: var(--light-color);
}

.banner .banner-link-wrapper {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.banner .banner-link-wrapper .link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.banner .banner-link-wrapper .link-icon .ic {
  width: 17px;
  height: 14px;
}

.banner .banner-link-wrapper .shop-link {
  text-decoration: underline;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: var(--light-color);
  margin-left: 21px;
}

.section-banner .service-list {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 70px;
  padding-right: 64px;
  padding-left: calc((100% - 1152px)/2 + 72px);
  padding-top: 38px;
  padding-bottom: 31px;
  list-style: none;
  background-color: var(--light-color);
}

.section-banner .service-list .service-item {
  padding: 0 24px;
}

.section-banner .service-list .service-item .service {
  display: flex;
}

.service .service-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-right: 21px;
  border-radius: 12px;
  background-color: var(--service-icon-bg-color);
}

.service .service-icon .ic {
  background-position: center;
}

.service .service-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: var(--dark-color);
  margin-bottom: 4px;
}

.service .service-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--text-color);
}

.section-advertisement .advertisement-list {
  list-style: none;
}

.section-advertisement .advertisement-list .advertisement-item {
  height: 359px;
}

.advertisement-list .advertisement-item:first-child .advertisement {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/advertisement-1.png') top center / cover no-repeat;

}

.advertisement-list .advertisement-item:nth-child(2) .advertisement {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/advertisement-2.png') top center / cover no-repeat;
}

.advertisement-list .advertisement-item:last-child .advertisement {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url('../images/advertisement-3.png') top center / cover no-repeat;
}

.advertisement-list .advertisement-item .advertisement {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.advertisement .advertisement-info {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: var(--light-color);
  position: absolute;
  top: 167px;
}

.advertisement .btn-advertisement {
  position: absolute;
  top: 258px;
  left: 40px;
}

.discount {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  background-color: var(--discount-bg-color);
  padding: 6px 10px;
  border-radius: 20px;
  color: var(--light-color);
}

.advertisement .discount {
  position: absolute;
  top: 129px;
}

.section-products .section-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-products .product-list {
  margin-top: 40px;
  list-style: none;
}

.section-products .product-list .product-item {
  position: relative;
}

.product .discount {
  position: absolute;
  z-index: 2;
  left: 28px;
  top: 24px;
}

.product .product-link {
  text-decoration: none;
}

.product .product-image {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.product .product-description {
  margin-top: 16px;
  text-decoration: none;
}

.product .product-name {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: var(--dark-color);
}

.product .product-prices {
  display: flex;
  justify-content: space-between;
}

.product .product-prices .sale-price {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.product .product-prices .sale-price.active {
  color: var(--sale-price-color) !important;
}

.product .original-price {
  color: var(--original-price-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.section-services {
  background-color: var(--gray-bg-color);
  padding-top: 48px;
  padding-bottom: 57px;
}

.section-title {
  text-align: center;
}

.section-services .section-title {
  margin-bottom: 50px;
}

.section-services .service-detail-list {
  list-style: none;
}

.service-detail .service-detail-icon .service-detail-icon-bg {
  width: 68px;
  height: 68px;
  background-color: var(--light-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-detail .service-detail-icon .ic {
  background-size: contain;
}

.service-detail .service-detail-info {
  margin-top: 46px;
}

.service-detail .service-detail-info .service-detail-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--title-color);
  margin-bottom: 16px;
}

.service-detail .service-detail-info .service-detail-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-color);
}

.section.section-newsletter {
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), url('../images/newsletter.png') top center / cover no-repeat;
  height: 241px;
  display: flex;
  align-items: center;
}

.newsletter .newsletter-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: var(--light-color);
}

.newsletter .newsletter-input {
  padding: 14px 24px;
  border-radius: 61px;
  margin-right: 34px;
  width: 351px;
}

.newsletter .newsletter-input::placeholder {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-color);
}
