/* Mobile */
@media only screen and (max-width: 768px) {
  .container {
    padding: 24px;
  }

  .section {
    padding: 0;
  }

  .discount {
    font-size: 8px;
    font-weight: 700;
    line-height: 12px;
  }

  .header {
    background-color: var(--light-color);
  }

  .header .header-inner .navbar {
    display: none;
  }

  .header .header-inner {
    margin-top: 0;
    width: 100%;
    background-color: var(--light-color);
  }

  .header .header-inner .navbar .nav-list,
  .header .header-inner .header-action-list,
  .header-inner .header-logo .shop-logo-img {
    display: none;
  }

  .header .header-inner .header-logo .shop-mobile-logo-img,
  .header .header-inner .mobile-header-action-list {
    display: block;
  }

  .header .header-inner .mobile-header-action-list {
    display: flex;
    list-style: none;
    margin: 0 -12px;
  }

  .header-inner .mobile-header-action-list .mobile-header-action-item {
    padding: 0 12px;
  }

  .header-inner .mobile-header-action-list .mobile-header-action-item .ic {
    width: 20px;
    height: 20px;
  }

  .section.section-advertisement {
    padding-top: 0;
  }

  .section-banner {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/mobile-banner.png");
  }

  .section-banner .service-list {
    display: none;
  }

  .section-banner .banner {
    padding-left: 24px;
  }

  .banner .banner-title {
    font-size: 48px;
    line-height: 49px;
  }

  .section-advertisement .advertisement-list .advertisement-item {
    height: 225px;
  }

  .section-advertisement .advertisement-list .advertisement-item:first-child {
    padding-bottom: 8px !important;
  }

  .advertisement-list .advertisement-item .advertisement {
    padding: 16px;
  }

  .advertisement .advertisement-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    top: 140px;
  }

  .advertisement .btn-advertisement {
    top: 176px;
    left: 16px;
  }

  .advertisement .discount {
    top: 104px;
  }

  .section .section-title {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
  }

  .section-services .section-title {
    margin-bottom: 36px;
  }

  .service-detail-list .service-detail-item {
    margin-bottom: 16px;
  }

  .service-detail-list .service-detail-item .service-detail {
    display: flex;
    align-items: center;
  }

  .service-detail .service-detail-icon {
    margin-right: 16px;
  }

  .service-detail .service-detail-info {
    margin-top: 8px;
  }

  .service-detail .service-detail-info .service-detail-title {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 18px;
  }

  .service-detail .service-detail-info .service-detail-desc {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
  }

  .section-products .section-product-header .btn-sm-outline {
    margin-bottom: 16px;
  }

  .section-products .section-title {
    text-align: left;
    margin-bottom: 16px;
  }

  .section-products .product-list .product-item {
    margin-bottom: 8px;
  }

  .product .discount {
    top: 12px;
    left: 13px;
  }

  .product .product-description .product-name {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
  }

  .product .product-prices .sale-price {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
  }

  .product .product-description {
    margin-top: 0;
  }

  .product .product-prices .original-price {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
  }

  .section.section-newsletter {
    background-image: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.00) 100%), url('../images/mobile-newsletter.png');
  }

  .section-newsletter .newsletter .newsletter-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 24px;
    width: 200px;
  }

  .newsletter .newsletter-input {
    padding: 8px 12px;
    width: 100%;
    margin-bottom: 16px;
  }

  .newsletter .newsletter-input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .footer {
    padding: 0;
  }

  .primary-footer .shop-info .shop-desc {
    font-size: 14px;
    margin-bottom: 48px;
  }

  .primary-footer .shop-info .social-list {
    display: none;
  }

  .primary-footer .reference-list .reference-item {
    margin: 24px 0;
  }

  .primary-footer .reference-list .reference-item .reference-title {
    font-size: 16px;
  }

  .primary-footer .reference-sub-list .reference-sub-item .reference-link {
    font-size: 14px;
  }
}
