.section {
  padding: 48px 0;

  &-title {
    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
  }
}

.section-banner {
  position: relative;
  height: 800px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%),
    url("../../assets/images/banner.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  .service-list {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 70px;
    padding-right: 64px;
    padding-left: calc((100% - 1152px) / 2 + 72px);
    padding-top: 38px;
    padding-bottom: 31px;
    margin-right: calc(197px + (100% - 1152px) / 2);
    background-color: map-get($color, secondary);

    &-item {
      padding: 0 24px;
    }
  }
}

.banner-link-wrapper {
  .link-icon {
    .ic {
      width: 17px;
      height: 14px;
    }
  }
}

.advertisement-list {
  .advertisement-item {
    height: 359px;

    &:first-child {
      .advertisement {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%),
          url("../../assets/images/advertisement-1.png") top center / cover no-repeat;
      }
    }

    &:nth-child(2) {
      .advertisement {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%),
          url("../../assets/images/advertisement-2.png") top center / cover no-repeat;
      }
    }

    &:last-child {
      .advertisement {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%),
          url("../../assets/images/advertisement-3.png") top center / cover no-repeat;
      }
    }
  }
}

.section-products {
  .container {
    > .section-title {
      padding-bottom: 16px;
    }
  }

  .section-product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
  }

  .product-list {
    .product-item {
      position: relative;
    }
  }
}

.section-services {
  background-color: map-get($bg-color, gray);
  padding-top: 48px;
  padding-bottom: 57px;

  .section-title {
    margin-bottom: 50px;
  }
}

.section-newsletter {
  display: flex;
  align-items: center;
  height: 241px;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%),
    url("../../assets/images/newsletter.png") top center / cover no-repeat;
}

@include mobile {
  .section {
    padding: 0;

    .section-title {
      font-size: 18px;
      font-weight: 300;
      line-height: 27px;
    }
  }

  .section-banner {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%),
      url("../../assets/images/mobile-banner.png");

    .banner {
      padding-left: 24px;

      .banner-title {
        font-size: 48px;
        line-height: 49px;
      }
    }

    .service-list {
      display: none;
    }
  }

  .section-advertisement {
    padding-top: 0;

    .advertisement-list {
      .advertisement-item {
        height: 225px;

        &:first-child {
          padding-bottom: 8px !important;

          .advertisement {
            .btn {
              top: 173px;
            }
          }
        }

        .advertisement {
          padding: 16px;

          &-info {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            top: 132px;
            padding-right: 50px;
          }

          .btn-advertisement {
            top: 180px;
            left: 16px;
          }

          .discount {
            top: 104px;
          }
        }
      }
    }
  }

  .section-services {
    .section-title {
      margin-bottom: 36px;
    }
  }

  .section-products {
    .section-title {
      text-align: left;
    }

    .product-list {
      .product-item {
        margin-bottom: 8px;
      }
    }
  }

  .section-newsletter {
    background-image: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%),
      url("../../assets/images/mobile-newsletter.png");
  }
}
