$color: (
  primary: #ffc017,
  title: #333333,
  text: #485963,
  white: #ffffff,
  black: #000000,
  gray: #eeeeee,
  danger: #eb5757,
);

$size: (
  container: 1440px,
  gutter: 40px,
);
