$color: (
  primary: #ffc017,
  white: #ffffff,
  black: #000,
  black-1c: #1c1e20,
  title: #333333,
  timestamp: #757575,
  text: #485963,
  caption: #9ea0a8,
  gray: #f2f2f2,
  border: #e6e6e6,
  blue: #042342,
);

$size: (
  container: 1220px,
  sub-container: 740px,
  gutter: 10px,
);
