*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  transition: all 0.4s;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
}

.site-main {
  overflow-x: hidden;
}

.shop-logo-img {
  cursor: pointer;
}

.ic {
  display: inline-block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
}

.ic-magnifying-glass {
  background-image: url("../../assets/images/ic-magnifying-glass.svg");
}

.ic-cart {
  background-image: url("../../assets/images/ic-cart.svg");
}

.ic-user {
  background-image: url("../../assets/images/ic-user.svg");
}

.ic-free-shipping-1 {
  background-image: url("../../assets/images/ic-free-shipping-1.svg");
}

.ic-free-shipping-2 {
  background-image: url("../../assets/images/ic-free-shipping-2.svg");
}

.ic-happy-face {
  background-image: url("../../assets/images/ic-happy-face.svg");
}

.ic-guarantee-1 {
  background-image: url("../../assets/images/ic-guarantee-1.svg");
}

.ic-guarantee-2 {
  background-image: url("../../assets/images/ic-guarantee-2.svg");
}

.ic-arrow-right {
  background-image: url("../../assets/images/ic-arrow-right.svg");
}

.ic-payment {
  background-image: url("../../assets/images/ic-payment.svg");
}

.ic-materials {
  background-image: url("../../assets/images/ic-materials.svg");
}

.ic-facebook {
  background-image: url("../../assets/images/ic-facebook.svg");
}

.ic-twitter {
  background-image: url("../../assets/images/ic-twitter.svg");
}

.ic-linkedin {
  background-image: url("../../assets/images/ic-linkedin.svg");
}

.ic-instagram {
  background-image: url("../../assets/images/ic-instagram.svg");
}

.ic-youtube {
  background-image: url("../../assets/images/ic-youtube.svg");
}

.ic-sm-bars {
  background-image: url("../../assets/images/ic-sm-bars.svg");
}

.ic-sm-user {
  background-image: url("../../assets/images/ic-sm-user.svg");
}

.ic-sm-cart {
  background-image: url("../../assets/images/ic-sm-cart.svg");
}

.discount {
  background-color: #ff0000;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #fff;
}

@media (max-width: 768px) {
  .discount {
    font-size: 8px;
    font-weight: 700;
    line-height: 12px;
  }
}
.btn {
  color: #000000;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.15s linear;
}

.btn-advertisement {
  padding: 14px 20px;
  border-radius: 33px;
  background-color: #fff;
}
.btn-advertisement:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
}

.btn-outline {
  padding: 14px 30px;
  border-radius: 33px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
}
.btn-outline:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
}

.btn-primary {
  background-color: #fbb03b;
  padding: 14px 50px;
  border-radius: 56px;
}
.btn-primary:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
}

@media (max-width: 736px) {
  .btn-sm {
    font-size: 10px;
    line-height: 15px;
  }
  .btn-sm-advertisement {
    padding: 4px 10px;
  }
  .btn-sm-outline {
    padding: 0 4px 0 0;
    border: none;
  }
  .btn-sm-primary {
    font-size: 13px;
    padding: 6px 22px;
  }
}
.banner {
  position: absolute;
  top: 222px;
  padding-left: calc((100% - 1152px) / 2 + 96px);
}
.banner-title {
  font-size: 72px;
  font-weight: 700;
  line-height: 73px;
  color: #fff;
}
.banner-title .highlight {
  color: #fbb03b;
}
.banner-link-wrapper {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.banner-link-wrapper .link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #fbb03b;
  border-radius: 50%;
}
.banner-link-wrapper .shop-link {
  margin-left: 21px;
  text-decoration: underline;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
}
.banner-link-wrapper .shop-link:hover {
  color: #fbb03b;
}

.service {
  display: flex;
}
.service-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-right: 21px;
  border-radius: 12px;
  background-color: #fff3df;
}
.service-icon-bg .ic {
  background-position: center;
}
.service-title {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
}
.service-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(168, 168, 168, 0.6588235294);
}

.advertisement {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}
.advertisement-info {
  position: absolute;
  top: 167px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #fff;
}
.advertisement .btn-advertisement {
  position: absolute;
  top: 258px;
  left: 40px;
}
.advertisement .discount {
  position: absolute;
  top: 129px;
}

.product-link .discount {
  position: absolute;
  left: 28px;
  top: 24px;
  z-index: 2;
}
.product-image {
  position: relative;
  width: 100%;
  object-fit: cover;
}
.product-description {
  margin-top: 16px;
}
.product-description .product-name {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #000000;
}
.product-description .product-prices {
  display: flex;
  justify-content: space-between;
}

.product-prices .sale-price {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.product-prices .sale-price.active {
  color: #ff0000 !important;
}
.product-prices .original-price {
  color: #cecece;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

@media mobile {
  .product-link .discount {
    top: 12px;
    left: 13px;
  }
  .product-link-description {
    margin-top: 0;
  }
  .product-link-description .product-name {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
  }
  .product-link-description .product-prices .sale-price {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
  }
  .product-link-description .product-prices .original-price {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
  }
}
.service-detail:hover .service-detail-info .service-detail-title {
  color: #fbb03b;
  transform: color 0.1s ease-in;
}
.service-detail .service-detail-icon .service-detail-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  border-radius: 10px;
  background-color: #fff;
}
.service-detail .service-detail-icon .ic {
  background-size: contain;
  background-size: contain;
}
.service-detail .service-detail-info {
  margin-top: 46px;
}
.service-detail .service-detail-info .service-detail-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
  cursor: pointer;
}
.service-detail .service-detail-info .service-detail-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(168, 168, 168, 0.6588235294);
}

@media (max-width: 768px) {
  .service-detail-list .service-detail-item {
    margin-bottom: 16px;
  }
  .service-detail-list .service-detail-item .service-detail {
    display: flex;
    align-items: center;
  }
  .service-detail .service-detail-icon {
    margin-right: 16px;
  }
  .service-detail .service-detail-info {
    margin-top: 8px;
  }
  .service-detail .service-detail-info .service-detail-title {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 18px;
  }
  .service-detail .service-detail-info .service-detail-desc {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
  }
}
.newsletter-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #fff;
}
.newsletter-input {
  width: 351px;
  padding: 14px 24px;
  margin-right: 34px;
  border-radius: 61px;
}
.newsletter-input::placeholder {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(168, 168, 168, 0.6588235294);
}

@media (max-width: 768px) {
  .newsletter .newsletter-title {
    width: 200px;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  .newsletter .newsletter-input {
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 16px;
  }
  .newsletter .newsletter-input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}
.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  padding: 0 10px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 24px;
  }
  .row {
    margin: 0 -4px !important;
  }
  .col {
    padding: 0 4px !important;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
.header {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin-top: 48px;
}
.header-inner .mobile-header-action-list {
  display: none;
}

.header-inner .header-logo .shop-mobile-logo-img {
  display: none;
}
.header-inner .header-action-list {
  display: flex;
  align-items: center;
  margin: 0 -12px;
}
.header-inner .header-action-list .header-action-item {
  padding: 0 12px;
}

@media (max-width: 768px) {
  .header {
    background-color: #fff;
  }
  .header-inner {
    margin-top: 0;
    width: 100%;
    background-color: #fff;
  }
  .header-inner .navbar {
    display: none;
  }
  .header-action-list,
  .header-logo .shop-logo-img {
    display: none;
  }
  .header-inner .header-logo .shop-mobile-logo-img,
  .header-inner .mobile-header-action-list {
    display: block;
  }
  .header-inner .mobile-header-action-list {
    display: flex;
    margin: 0 -12px;
  }
  .header-inner .mobile-header-action-list .mobile-header-action-item {
    padding: 0 12px;
  }
  .header-inner .mobile-header-action-list .mobile-header-action-item .ic {
    width: 20px;
    height: 20px;
  }
}
.nav-list {
  display: flex;
}
.nav-list .nav-item {
  padding: 0 48px;
}
.nav-list .nav-item .nav-link {
  color: #fbb03b;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

@media (max-width: 768px) {
  .navbar,
  .nav-list {
    display: none;
  }
}
.footer {
  background-color: #fbb03b;
}

.primary-footer {
  padding: 46px 0 30px;
}

.shop-info {
  padding-right: 170px;
}
.shop-info .shop-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
  margin-top: 24px;
}
.shop-info .social-list {
  display: flex;
  margin-top: 56px;
}

.social-list .social-item .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 26px;
}

.reference-list {
  display: flex;
  justify-content: space-between;
}
.reference-list .reference-item .reference-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.reference-sub-list {
  margin-top: 19px;
}
.reference-sub-list .reference-sub-item {
  margin-bottom: 19px;
}
.reference-sub-list .reference-sub-item .reference-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
}

.secondary-footer {
  border-top: 1px solid #fff;
}
.secondary-footer .copy-right {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  padding: 24px 0;
}

@media (max-width: 768px) {
  .footer {
    padding: 0;
  }
  .primary-footer .shop-info .shop-desc {
    font-size: 14px;
    margin-bottom: 48px;
  }
  .primary-footer .shop-info .social-list {
    display: none;
  }
  .primary-footer .reference-list .reference-item {
    margin: 24px 0;
  }
  .primary-footer .reference-list .reference-item .reference-title {
    font-size: 16px;
  }
  .primary-footer .reference-sub-list .reference-sub-item .reference-link {
    font-size: 14px;
  }
}
.section {
  padding: 48px 0;
}
.section-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
}

.section-banner {
  position: relative;
  height: 800px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("../../assets/images/banner.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-banner .service-list {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 70px;
  padding-right: 64px;
  padding-left: calc((100% - 1152px) / 2 + 72px);
  padding-top: 38px;
  padding-bottom: 31px;
  margin-right: calc(197px + (100% - 1152px) / 2);
  background-color: #fff;
}
.section-banner .service-list-item {
  padding: 0 24px;
}

.banner-link-wrapper .link-icon .ic {
  width: 17px;
  height: 14px;
}

.advertisement-list .advertisement-item {
  height: 359px;
}
.advertisement-list .advertisement-item:first-child .advertisement {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url("../../assets/images/advertisement-1.png") top center/cover no-repeat;
}
.advertisement-list .advertisement-item:nth-child(2) .advertisement {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url("../../assets/images/advertisement-2.png") top center/cover no-repeat;
}
.advertisement-list .advertisement-item:last-child .advertisement {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url("../../assets/images/advertisement-3.png") top center/cover no-repeat;
}

.section-products .container > .section-title {
  padding-bottom: 40px;
}
.section-products .section-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.section-products .product-list .product-item {
  position: relative;
}

.section-services {
  background-color: #f6f6f6;
  padding-top: 48px;
  padding-bottom: 57px;
}
.section-services .section-title {
  margin-bottom: 50px;
}

.section-newsletter {
  display: flex;
  align-items: center;
  height: 241px;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%), url("../../assets/images/newsletter.png") top center/cover no-repeat;
}

@media (max-width: 768px) {
  .section {
    padding: 0;
  }
  .section .section-title {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
  }
  .section-banner {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("../../assets/images/mobile-banner.png");
  }
  .section-banner .banner {
    padding-left: 24px;
  }
  .section-banner .banner .banner-title {
    font-size: 48px;
    line-height: 49px;
  }
  .section-banner .service-list {
    display: none;
  }
  .section-advertisement {
    padding-top: 0;
  }
  .section-advertisement .advertisement-list .advertisement-item {
    height: 225px;
  }
  .section-advertisement .advertisement-list .advertisement-item:first-child {
    padding-bottom: 8px !important;
  }
  .section-advertisement .advertisement-list .advertisement-item:first-child .advertisement .btn {
    top: 173px;
  }
  .section-advertisement .advertisement-list .advertisement-item .advertisement {
    padding: 16px;
  }
  .section-advertisement .advertisement-list .advertisement-item .advertisement-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    top: 132px;
    padding-right: 50px;
  }
  .section-advertisement .advertisement-list .advertisement-item .advertisement .btn-advertisement {
    top: 180px;
    left: 16px;
  }
  .section-advertisement .advertisement-list .advertisement-item .advertisement .discount {
    top: 104px;
  }
  .section-services .section-title {
    margin-bottom: 36px;
  }
  .section-products .section-product-header .btn-sm-outline {
    margin-bottom: 16px;
  }
  .section-products .section-title {
    margin-bottom: 16px;
    text-align: left;
  }
  .section-products .product-list .product-item {
    margin-bottom: 8px;
  }
  .section-newsletter {
    background-image: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%), url("../../assets/images/mobile-newsletter.png");
  }
}

/*# sourceMappingURL=style.css.map */
