.discount {
  background-color: $discount-bg-color;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: $secondary-color;
}
