.service-detail {
  &:hover {
    .service-detail-icon {
      .ic-free-shipping-2 {
        background-image: url("../../assets/images/ic-free-shipping-1.svg");
      }

      .ic-payment-2 {
        background-image: url("../../assets/images/ic-payment-1.svg");
      }

      .ic-guarantee-2 {
        background-image: url("../../assets/images/ic-guarantee-1.svg");
      }

      .ic-materials-2 {
        background-image: url("../../assets/images/ic-materials-1.svg");
      }
    }
    .service-detail-info {
      .service-detail-title {
        color: map-get($color, primary);
        transform: color 0.1s ease-in;
      }
    }
  }

  .service-detail-icon {
    .service-detail-icon-bg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 68px;
      height: 68px;
      border-radius: 10px;
      background-color: map-get($color, secondary);
    }

    .ic {
      background-size: contain;
      background-size: contain;
    }
  }

  .service-detail-info {
    margin-top: 46px;

    .service-detail-title {
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: map-get($color, title);
      cursor: pointer;
    }

    .service-detail-desc {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: map-get($color, text);
    }
  }
}

@include mobile {
  .service-detail-list {
    .service-detail-item {
      margin-bottom: 16px;

      .service-detail {
        display: flex;
        align-items: center;
      }
    }
  }

  .service-detail {
    .service-detail-icon {
      margin-right: 16px;
    }

    .service-detail-info {
      margin-top: 8px;

      .service-detail-title {
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 18px;
      }

      .service-detail-desc {
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
      }
    }
  }
}
