.service {
  display: flex;

  &-icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin-right: 21px;
    border-radius: 12px;
    background-color: map-get($bg-color, service-icon);

    .ic {
      background-position: center;
    }
  }

  &-title {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: map-get($color, dark);
  }

  &-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: map-get($color, text);
  }
}
