.product {
  display: flex;
  flex-direction: column;
  margin: -8px 0;

  & > * {
    padding: 8px 0;
  }

  &-img {
    width: 100%;
  }

  &-title {
    display: flex;
    justify-content: center;
  }
}
