*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  cursor: pointer;
}

img {
  display: block;
}

.ic {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: left;
}
.ic.ic-cart {
  background-image: url("../../assets/images/ic-cart.svg");
}
.ic.ic-envelope {
  background-image: url("../../assets/images/ic-envelope.svg");
}
.ic.ic-location {
  background-image: url("../../assets/images/ic-location.svg");
}
.ic.ic-phone {
  background-image: url("../../assets/images/ic-phone.svg");
}

.badge {
  color: #ffffff;
  font-size: 9px;
  font-weight: 700;
  line-height: 1.2; /* 120% */
}
.badge-danger {
  padding: 4px 6px;
  background-color: #eb5757;
  border-radius: 4px;
}

.btn {
  display: inline-block;
}
.btn.btn-outline-primary {
  padding: 12px 18px;
  border: 1px solid #ffc017;
  border-radius: 50px;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
}
.btn.btn-outline-primary:hover {
  background-color: #ffc017;
  color: #ffffff;
}
.btn.btn-primary {
  padding: 9px 29px;
  border-radius: 50px;
  color: #fff;
  background-color: #ffc017;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4; /* 140% */
}
.btn.btn-primary:hover {
  transform: scale(1.05);
}

.trending-product {
  display: flex;
}
.trending-product .badge.badge-danger {
  position: absolute;
  top: 15px;
  left: 15px;
}
.trending-product .btn.btn-outline-primary {
  padding: 0 18px;
  text-align: center;
  line-height: 30px;
}
.trending-product .btn.btn-outline-primary .ic.ic-cart {
  display: inline;
  padding: 2px 12px;
}
.trending-product .btn.btn-outline-primary:hover .ic.ic-cart {
  display: none;
}
.trending-product .ic.ic-cart {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.trending-product-link {
  position: relative;
  display: inline-block;
  height: 200px;
}
.trending-product-img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}
.trending-product-info {
  padding: 8px 0 8px 15px;
}
.trending-product-info > * {
  padding: 8px 0;
}
.trending-product-info .btn.btn-outline-primary {
  margin: 8px 0;
}
.trending-product-name-link .btn.btn-outline-primary {
  margin: 8px 0;
}
.trending-product-name-link {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2; /* 120% */
}
.trending-product-desc {
  color: #485963;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2; /* 120% */
}
.trending-product-price {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2; /* 120% */
}

.product {
  display: flex;
  flex-direction: column;
  margin: -8px 0;
}
.product > * {
  padding: 8px 0;
}
.product-img {
  width: 100%;
}
.product-title {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.col {
  padding: 0 20px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.col-2-4 {
  width: 20%;
}

.header {
  width: 100%;
  padding: 7px 0;
}
.header-inner {
  display: flex;
  justify-content: space-between;
}
.header-action {
  display: flex;
  align-items: center;
}
.header-action .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-title {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2; /* 120% */
  border-radius: 10px 10px 0px 0px;
  background: var(--lt-primary, #ffc017);
  padding: 13px 25px;
}
.aside .filter-list .filter-item {
  padding: 20px 25px;
  background-color: #fafafa;
  position: relative;
}
.aside .filter-list .filter-item .filter-link {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2; /* 120% */
}
.aside .filter-list .filter-item:not(.filter-item:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25px;
  width: calc(100% - 50px);
  height: 1px;
  background: #eeeeee;
}
.aside .filter-list .filter-item:hover .filter-link {
  color: #333333;
  font-weight: 700;
  line-height: 1.2; /* 120% */
  margin-left: 25px;
  position: relative;
}
.aside .filter-list .filter-item:hover .filter-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #ffc017;
  border-radius: 50%;
}
.aside .filter-list-link {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2; /* 120% */
}

.footer {
  padding-top: 48px;
  padding-bottom: 58px;
  background-color: #ffc017;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-title {
  color: #333333;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.15; /* 115.385% */
  margin-bottom: 32px;
  text-align: center;
}
.footer-info {
  width: 40%;
}
.footer-info > *:not(:last-child) {
  margin-bottom: 24px;
}
.footer-info-email-link, .footer-info-phone-link, .footer-info-location-link {
  display: flex;
  justify-content: center;
  color: #333333;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.05; /* 105% */
  text-align: center;
}
.footer-info-email-link .ic, .footer-info-phone-link .ic, .footer-info-location-link .ic {
  margin-right: 18px;
  background-size: cover;
  width: 22px;
  height: 22px;
}
.footer-info-location-link {
  line-height: 1.3; /* 130% */
}
.footer-info-location-link .ic.ic-location {
  width: 20px;
  height: 20px;
  margin-right: 0;
}

.nav-list {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 -16px;
}
.nav-item {
  padding: 16px;
}
.nav-link {
  color: #333333;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
}
.nav-link:hover {
  color: #ffc017;
}

.home-page {
  overflow-x: hidden;
}
.home-page .section-banner {
  background: url("../../assets/images/banner.png") top center/cover no-repeat;
  height: 726px;
}
.home-page .section-title {
  color: #333333;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2; /* 120% */
}
.home-page .section .container {
  position: relative;
  height: 100%;
}
.home-page .section .banner {
  position: absolute;
  top: 45%;
  left: 62%;
}
.home-page .section .banner-title {
  color: #ffffff;
  font-size: 62px;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}
.home-page .section .banner-desc {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2; /* 120% */
}
.home-page .section .banner > * {
  margin-bottom: 38px;
}
.home-page .section-category {
  padding: 40px 0 70px 0;
  text-align: center;
}
.home-page .section-title {
  position: relative;
  margin-bottom: 56px;
  color: #333333;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.2; /* 120% */
  text-align: center;
}
.home-page .section-title::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 131px;
  height: 2px;
  background-color: #ffc017;
}
.home-page .section .category-link {
  display: flex;
  flex-direction: column;
}
.home-page .section .category-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 24px;
}
.home-page .section .category-name {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2; /* 120% */
}
.home-page .section-trending-products {
  padding-bottom: 30px;
}
.home-page .section .trending-products-item {
  margin-bottom: 40px;
}
.home-page .section-product-gallery {
  padding-bottom: 70px;
}
.home-page .section .product-gallery-item:nth-child(even) .product {
  flex-direction: column-reverse;
}

/*# sourceMappingURL=style.css.map */
