.footer {
  background-color: map-get($color, primary);
}

.primary-footer {
  padding: 46px 0 30px;
}

.shop-info {
  padding-right: 170px;

  .shop-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: map-get($color, secondary);
    padding-top: 24px;
    padding-bottom: 56px;
  }

  .social-list {
    display: flex;
  }
}

.social-list {
  .social-item {
    .social-link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-right: 26px;
    }
  }
}

.reference-list {
  display: flex;
  justify-content: space-between;

  .reference-item {
    .reference-title {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: map-get($color, secondary);
    }
  }
}

.reference-sub-list {
  margin-top: 19px;
  .reference-sub-item {
    margin-bottom: 19px;

    .reference-link {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: map-get($color, secondary);
    }
  }
}

.secondary-footer {
  border-top: 1px solid map-get($color, secondary);
  padding: 24px 0;

  .copy-right {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: map-get($color, secondary);
  }
}

@include tablet {
  .primary-footer {
    padding: 24px 0;

    .shop-info {
      .shop-desc {
        padding-bottom: 20px;
      }

      .social-list {
        padding-bottom: 64px;
      }
    }

    .reference-sub-list {
      .reference-sub-item {
        margin-bottom: 12px;
      }
    }
  }
}

@include mobile {
  .footer {
    padding: 0;
  }

  .primary-footer {
    padding: 0;
    .shop-info {
      .shop-desc {
        font-size: 14px;
        padding-bottom: 30px;
      }

      .social-list {
        display: none;
      }
    }

    .reference-list {
      .reference-item {
        margin-top: 8px;
        margin-bottom: 8px;

        .reference-title {
          font-size: 16px;
        }
      }
    }

    .reference-sub-list {
      .reference-sub-item {
        margin-bottom: 14px;

        .reference-link {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
}
