.header {
  position: absolute;
  z-index: 10;
  width: 100%;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin-top: 48px;

    .mobile-header-action-list {
      display: none;
    }
  }
}

.header-inner {
  .header-logo {
    .shop-mobile-logo-img {
      display: none;
    }
  }

  .header-action-list {
    display: flex;
    align-items: center;
    margin: 0 -12px;

    .header-action-item {
      padding: 0 12px;
    }
  }
}

@include mobile {
  .header {
    background-color: map-get($color, secondary);

    &-inner {
      margin-top: 0;
      width: 100%;
      background-color: map-get($color, secondary);

      .navbar {
        display: none;
      }
    }
  }

  .header-action-list,
  .header-logo .shop-logo-img {
    display: none;
  }

  .header-inner .header-logo .shop-mobile-logo-img,
  .header-inner .mobile-header-action-list {
    display: block;
  }

  .header-inner .mobile-header-action-list {
    display: flex;
    margin: 0 -12px;

    .mobile-header-action-item {
      padding: 0 12px;

      .ic {
        width: 20px;
        height: 20px;
      }
    }
  }
}
