.navbar {
  .nav-list {
    display: flex;
    .nav-item {
      padding: 0 48px;
      .nav-link {
        color: map-get($color, primary);
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
      }
    }
  }
}

@include mobile {
  .navbar,
  .nav-list {
    display: none;
  }
}
