body {
  font-family: "Poppins", sans-serif;
  position: relative;
}

.site-main {
  overflow-x: hidden;
}

.section {
  padding: 48px 0;
}

.section-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
}
