$primary-color: #fbb03b;
$secondary-color: #fff;
$title-color: #333333;
$text-color: #a8a8a8;
$original-price-color: #cecece;
$sale-price-color: #ff0000;
$dark-color: #000;
$btn-border-color: #c4c4c4;

$gray-bg-color: #f6f6f6;
$discount-bg-color: #ff0000;
$service-icon-bg-color: #fff3df;

$mobile-width: 768px;
$tablet-width: 1024px;
